@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.img-flex {
  width: 100%;
  display: block;
}

header {
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

figure {
  margin: 0;
}

.nav {
  list-style-type: none;
}


a {
	text-decoration: none;
}


@media only screen and (min-width: 28em) {

   h1 {
    text-align: left;
  }
}

@media only screen and (min-width: 38em) {

  li {
    display: inline-block;
  }


}
