@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.img-flex {
  width: 100%;
  display: block;
}

.masthead {
  background-color: lightgrey;
}

.section-mid {
  background-color: #eeeeee;
}

.info {
  background-color: #e2e2e2;
}

.section {
  background-color: #e2e2e2;
}



h1 {
  text-align: center;
}

figure {
  margin: 0;
}

dd {
  margin: 0;
}

.nav {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: #297ccc;
}

nav a:hover {
  background-color: #297ccc;
  color: #fff;
}

.footer {
  background-color: #cbcbcb;
}


@media only screen and (min-width: 38em) {

  li {
    display: inline-block;
  }

}
